In [21]:
import pandas as pd

In [43]:
def recensement ():
    nom= str(input("entre votre nom",))
    prenom= str(input("entre votre prenom",))
    lieu= str(input("entre votre adresse",))
    mail= str(input("entre votre mail",))
    numero= str(input("entre votre numero",))
    reference=pd.DataFrame([nom,prenom,lieu,mail,numero])
    return reference

In [40]:
def plateforme():
    txt=pd.read_csv("C:/Users/LAMTE INOVACI/Desktop/CLOUDAWS/travauxsimplonaws/cloud/liste.txt")
    des=str(input("soyez la bienvenue, entrez enreg pour vous inscrit ou aff pour afficher la liste",))
    if des=="enreg":
        a=recensement()
        
    elif des=='aff':
        print("hello")
    else:
        plateforme()

In [50]:
txt=pd.read_csv("C:/Users/LAMTE INOVACI/Desktop/CLOUDAWS/travauxsimplonaws/cloud/liste.txt")

In [44]:
a=recensement()

entre votre nomQFESSE
entre votre prenomSDFE
entre votre adresseSDFE
entre votre mailSDFES
entre votre numero36552

In [46]:
a

        0     1     2      3      4
0  QFESSE  SDFE  SDFE  SDFES  36552

In [54]:
txt.append(a)

C:\Users\LAMTE INOVACI\AppData\Local\Temp\ipykernel_11132\774864989.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  txt.append(a)

      nom        0
0  prenom      NaN
1    lieu      NaN
2    mail      NaN
3   numero     NaN
0      NaN  QFESSE
1      NaN    SDFE
2      NaN    SDFE
3      NaN   SDFES
4      NaN   36552